<!-- library/templates/library/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bookworm{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Bookworm Library</h1>
        <img src="{% static 'images/bookworm.png' %}">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'book_list' %}">Books</a></li>
                <li><a href="{% url 'borrow_book' %}">Borrow</a></li>
                <li><a href="{% url 'return_book' %}">Return</a></li>
                <li><a href="{% url 'extend_due_date' %}">Extend</a></li>
                <li><a href="{% url 'signin' %}">Sign In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Bookworm Library</p>
    </footer>
</body>
</html>