body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('../images/bookworm2.png'); /* Path to your background image */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for readability */
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #575757;
}

/* Action Button Styles */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.btn-create {
    background-color: #4CAF50; /* Green */
}

.btn-update {
    background-color: #2196F3; /* Blue */
}

.btn-delete {
    background-color: #f44336; /* Red */
}

.btn-borrow {
    background-color: #FF9800; /* Orange */
}

.btn-extend {
    background-color: #9C27B0; /* Purple */
}

.btn-return {
    background-color: #795548; /* Brown */
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 10px;
        margin: 10px;
        max-width: 100%;
    }

    footer {
        position: static;
        padding: 20px 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul li a {
        padding: 10px;
        font-size: 1em;
    }

    button {
        padding: 10px;
        font-size: 1em;
    }
}